* {
  font-family: monospace;
}
.hover-effect:hover {
  transition: color 0.3s ease;
  color: #0dcaf0 !important;
  text-decoration: underline;

}

.typewriter {
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #0dcaf0;
  width: 0;
  animation: typing 2.5s steps(18) forwards, blink 0.5s step-end infinite;
  color: #0dcaf0;
}

.hr {
  width: 60px;
  height: 3px;
  background-color: #0dcaf0;
  border-radius: 2px;
}
.hr:hover{
  width: 120px;
}
#contact {
  max-width: 700px;
  border: 1px solid gray;
  /* box-shadow: 8px 8px 3px rgb(95, 91, 91);  */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
